.main{
  background: #878787;
  width: 100%;
  padding: 33px 0;

}

canvas {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-image: url("../images/visualizer-back.png");
  border-radius: 10px;
  background-size: 100%;

}


.piano-body{
  min-width: 64em;
  margin: 0 auto;
  background-image: url("../images/piano-background.png");
  background-repeat: repeat-x;
  padding: 10px 34px;
  border-radius: 10px;
  height: 560px;

}

.header-wrapper{
  width: 100%;
  height: 100px;
  padding: 14px 0;
}

.logo{
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  width: 27.34375%;
  height: 100%;
  float: left;
  border-radius: 10px;
  background-size: 100%;

}


.visualizer{
  width: 48.828125%;
  background-repeat: repeat-x;
  height: 100px;
  margin-left: 4px;
  float: left;
  padding: 0 12px;

}

.media-options{
  float: left;
  width: 20.8984375%;
  height: 100%;

}

.media-options .record{
  width: 33.17757009345794%;
  height: 100%;
  float: left;
  background-position: 50%;

}

.header-base{
  width: 100%;
  height: 20px;
  background-image: url("../images/header-base.png");
  background-repeat: repeat-x;
  border-radius: 5px;
  padding-bottom: 20px;

}

.music{
  width: 100%;
  height: 100px;
  padding: 10px 0;

}

.drum-wrapper{
  float: right;

}

.drum{
  width: 50px;
  text-align: center;
  padding: 15px;
  background: #222222;
  float: right;
  border-radius: 5px;
  border: 2px solid black;
  margin-right: 2px;
  color: #e4e4e5;
  font-size: 16px;
}



.volume-controller{
  clear: both;
  float: right;
}

.learn-piano{
  float: left;
  padding-bottom: 50px;
}


.key-guide{
  float: left;
  background: #222;
  width: 40%;
  margin-left: 110px;
  height: 70%;
  text-align: center;
  font-size: 50px;
  color: white;
  background-color: transparent;
}

.key-container{
  width: 100%;
  min-width: 1024px;
  height: 224px;
  font-size: 25px;
  color: black;
  text-align: center;
}

.key{
  background: #ededed;
  /*float: left;*/
  /*width: 4.32%;*/
  width: 44px;
  height: 220px;
  border: 2px solid #090909;
  border-radius: 5px;
  line-height: 350px;
  display: inline-block;
}

.high0 {
  margin-left:36px;
  margin-right: 10px;
}

.high1 {
  margin-left: 10px;
  margin-right: 30px;
}

.high2 {
  margin-left: 28px;
  margin-right: 10px;
}

.high3 {
  margin-left: 7px;
  margin-right: 10px;
}

.high4 {
  margin-left: 7px;
  margin-right: 26px;
}

.octave{
  width: 33.33%;
  float: left;
  height: 300px;
  position: relative;
}

.key.high-notes{
  background: black;
  width: 28px;
  height: 110px;
  border: 2px solid #090909;
  /*position: absolute;*/
  font-size: 17px;
  line-height: 150px;
  color: #e4e4e5;
}

.highNoteKeyContainer {
  position: absolute;
  height:100px;
  z-index:10;
}
.lowNoteKeyContainer {
  position: absolute;

}
.check{
  display:inline;
  margin-top: -100px;
}
