
.record.active{
  background-image: url("../images/active-record.png");
  background-repeat: no-repeat;

}

.record.in-active{
  background-image: url("../images/inactive-record.png");
  background-repeat: no-repeat;

}

.record.play{
  background-image: url("../images/play-button.png");
  background-repeat: no-repeat;

}

.record.pause{
  background-image: url("../images/pause-button.png");
  background-repeat: no-repeat;

}

.record.stop{
  background-image: url("../images/stop-button.png");
  background-repeat: no-repeat;

}

.drum.active{
  background: #111111;
  color: red;

}

select{
  background: #222222;
  color: #e4e4e5;
  font-size: 16px;

}


.key.active{
  background: #a6a7a7;

}

.key.high-notes.active{
  background: #1b1c1c;

}
